@charset "UTF-8";

/* 全体 */
.contents {
  margin: 0 30px;
}

section {
  margin-bottom: 40px;
}

h2 {
  padding-left: 10px;
  border-left: 5px solid rgb(80, 129, 233);
}

/* 上部のメニューバー部分 */

body {
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 160%;
}
.top-text {
  margin-left: 30px;
  font-size: 40px;
  color: rgb(80, 129, 233);
}

.topbar{
	background: #2ce745;
}
.namelist{
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: auto;
}
.list{
  box-sizing: border-box;
  float: left;
  display: table-cell;
	border-right: 1px solid #f3f1f1;
  width: 20%;
}
.list:last-child {
	border-right: none;
}
.name{
	display: block;
	padding: 25px 0;
	width: 100%;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	color: #b419ac;
}
.name:hover {
	background: #cff013;
}


/* 画像いったん保留 */
.front-image{
  width: 500px;
  height: 400px;
}
/* お問い合わせ */
.call{
  font-size: 20px;
  color: #f3f1f1;
  background: rgb(31, 19, 19);
}

.questionnaire{
  font-size: 30px;
  background: rgb(238, 64, 160);
}

footer{
  border-top: 1px solid #4f4f4f;
}

.copyright{
  font-size: 25px;
  text-align: center;
}
